body{


}

.blue{
	color: #039dce;
}

.padding-top{
	padding-top:50px;
}

.padding-bottom{
	padding-bottom:50px;
}

.padding-card{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.padding-card1{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

.margin-top{
	margin-top: 50px;
}
.margin-right {
	margin-right: 10px; 
}

.logo {

}
.background-img{
  background: url(../img/tenniscourt.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.background-colour{
	background-color: #edf0f0;
}

.font_white { 
	color: white;
}

.white {
	background-color: white;
}

.img-size {
	max-width: 100%; 

}
.border-white {
	border-color: white;
	
}